@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fffffd;
  --black: #090909;
  --dark-yellow: #ccb24c;
  --yellow: #f7d683;
  --light-yellow: #fffdc0;
  --blue: #457d97;
}

* {
  scroll-behavior: smooth;
}
